@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-family: "Manrope", sans-serif;
    --background-primary: #ffffff;
    --background-secondary: #F3F6FF;
    
    
    --brand-primary: #6366F1;
    --brand-success: #22C55E;
    --linear-gradient: linear-gradient(to top, rgba(99, 102, 242, 0.10) 0%, rgba(220, 72, 239, .05) 42%, rgba(241, 244, 253, .07) 83%);
    
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;
    
    --brdr-radius-s: .25rem;
    --brdr-radius-m: .375rem;
    --brdr-radius-l: .5rem;
    
    --header-color: #0B0F19; /* gray-900 */
    --nav-font-color: #33354D; /* gray-800 */
    --primary-font-color: #565973; /* gray-700 */
    --lighter-font-color: #9397AD; /* gray-600 */
    --special-font-color: #9397AD; /* gray-600 */
    --special-form-text: #B4B7C9; /* gray-500 */
    
    --form-background: #ffffff;
    --panel-background: #ffffff;
    --store-button-background: #0B0F19;
    --logotype-border-color: #E2E5F1;
    --discover-more-bg: #ffffff;
    --img-filter-invert: none;
    --store-invert: none;
    --faq-accordion: #F3F6FF;
    --accordion-invert: brightness(0.8);
    --contact-border: #E2E5F1;
    
    --newsletter-background: #B4B7C9;
    --newsletter-border-color: #D4D7E5;
}

/* DARKMODE CSS */

.dark {
    color-scheme: dark;

    --background-primary: #0B0F19;
    --background-secondary: #ffffff0A;
    --tertiary-background: #ffffff0A;

    --header-color: #ffffff; /* gray-900 */
    --nav-font-color: #ffffff; /* gray-800 */
    --primary-font-color: #ffffffB2; /* gray-700 */
    --lighter-font-color: #ffffff80; /* gray-600 */
    --special-font-color: #9397AD; /* gray-600 */
    --special-form-text: #B4B7C9; /* gray-500 */

    --form-background: #ffffff0A;
    --panel-background: #ffffff0A;
    --store-button-background: #F3F6FF;
    --discover-more-bg: #ffffff0D;
    --img-filter-invert: invert();
    --store-invert: brightness(0.2);
    --faq-accordion: #ffffff0A;
    --accordion-invert: brightness(8);
    --contact-border: #ffffff26;

    --logotype-border-color: #ffffff26;
    --newsletter-border-color: #ffffff2e;

}


/*UTILITY START*/

.container {  
    width: 100%;  
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-inline: 1rem;


    /* background-color: plum; */

    @media (width >= 1200px) {
        max-width: 70%;
    }
}

.small-text {
   font-size: .875rem;  
}

.medium-text {
    font-size: 1rem;
    font-weight: 600;
} 

.large-text {
    font-size: 1.125rem;
} 

.padding-bottom-regular {
    padding-bottom: 1rem;
}

.padding-bottom-small {
    padding-bottom: .5rem;
}

a:link {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
    color: var(--header-color);
}

h2 {
    font-size: 2.5rem;
    line-height: 130%;
}

h4 {
    font-size: 1.5rem;
    line-height: 140%;
}

h5 {
    font-size: 1.25rem;
    line-height: 140%;
}

.medium-text {
    color: var(--clr-gray-700);

    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
}

.hidden {
    display: none;
}



/*UTILITY END*/

/*CSS START*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color-scheme: light;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-primary);   
}

header {
    .gradient-div{
        width: 100%;
        height: 100%;
        background-image: var(--linear-gradient);
    }
}

.main-nav {
    font-family: "Manrope", sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;

    .left-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.7rem;

        a {
            font-family: var(--font-family);
            color: var(--nav-font-color);
            font-size: 1rem;
            font-weight: 600;
            
            & :hover {
                color: var(--brand-primary);
            }
        }
    }

    .selection{
        display: flex;
        gap: 1.5rem;
    }

    .right-nav {
        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 2rem;

        .theme-toggle {
            display: flex;
            gap: 1rem;
        }

        p {
            color: var(--clr-gray-700);
            font-size: 1rem;
            font-weight: 600;
        }
    }

    button > img {
        padding-right: .5rem;
    }


    #signup button{
        font-family: "Manrope", sans-serif;
        color: #ffffff;
        background-color: var(--brand-primary);
        padding-inline: 1.25rem;
        padding-block: .56rem;

        display: flex;
        align-items: center;

        border: none;
        border-radius: var(--brdr-radius-s);

        p {
            color: #ffffff;
            font-size: 0.875;
            line-height: 18px;
            text-shadow: 0 4px 4px #0000003b;
            font-weight: 400;
        }

        &:hover {
            cursor: pointer;
        }
        
    }
}

.silicon-logo {
    p {
        color: var(--header-color);
        font-size: 1.3rem;
        font-weight: 800;
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: .8rem;
    }
}

.toggle {
    --_w: 46px;
    --_h: 24px;
    --_ball-size-ratio: 1;

    width: var(--_w);
    height: var(--_h);

    position: relative;
    display: inline-block;

    input[type="checkbox"] {
        appearance: none;
    }

    .slider {
        position: absolute;
        inset: 0;

        background-color: var(--clr-gray-600);
        border-radius: 1.33rem;
        
        cursor: pointer;
    }

    .slider::before {
        content: '';
        position: absolute;
        height: 80%;
        aspect-ratio: 1;
        top: 2.45px;
        left: 2px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 0 5px #00000085;

        transition: .3s;
    }

    input[type="checkbox"]:checked + .slider::before{
        transform: translateX(23px);
    }

    input[type="checkbox"]:checked ~ .slider {
        background-color: var(--brand-primary);
    }
}

.hero {
    display: flex;
    padding-top: 6rem;
    position: relative;
 
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-top: 2.5rem;
    padding-bottom: 3rem;

    height: 100%;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-wrap: balance; 

    h1 {
        font-size: 3.5rem;
        font-weight: 800;
        line-height: 130%;
    }

    p {
        color: var(--primary-font-color);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 160%;
    }
}

.download-app-buttons {
    display: flex;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.store-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 11.25rem;
    height: 3.25rem;

    background-color: var(--store-button-background);
    border-radius: .5rem;
    
    img {
        display: flex;
        max-width: 100%;
        max-height: 100%;

        margin: auto;
    }
}

.app-store {
    filter: var(--store-invert);
}

.googleplay {
    display: flex;
    gap: .8rem;

    .googleplay-text {
        display: flex;
        flex-direction: column;
        filter: var(--store-invert);
        
        gap: .1rem;
    }
    
    .googleplay-icon {
        filter: none;
    }

    
    .get-it-on {
        display: flex;
    }
}

.discover-more {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary-font-color);

    button {
        background-color: var(--discover-more-bg);
        border-radius: 50%;
        border: none;
        height: 3rem;
        aspect-ratio: 1;
        box-shadow: 0 4.4px .75rem rgba(19, 16, 34, .06);
        box-shadow: 0 4.4px .5rem rgba(19, 16, 34, .1);

        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            cursor: pointer;
        }

        img {
            filter: var(--img-filter-invert);
        }
    }
}

.hero-img {
    position: relative;
    right: 0;
    bottom: -.3rem;
    
    img {
        max-width: 43.75rem;
        height: auto;
    }
}

/* LOGOTYPES START */

#logotypes {
    padding: 6rem 0;
}

.logo-gap {
    gap: 1.5rem;
}


.logotypes {
    display: flex;
    align-items: center;
    padding: 1.5rem;

    border: 1px solid var(--logotype-border-color);
    border-radius: var(--brdr-radius-l);

    img {
        width: 100%;
    }
}

.logo-6 {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 4.4px 12px #1310220f;
}

/* LOGOTYPES END */


/* FEATURES START */

#features-app {
    display: flex;
    width: 100%;

    padding-bottom: 6rem;

    .container {
        justify-content: space-around;
        padding: 0;
    }

    .image-container {
        display: flex;
        max-height: 600px;
    
        
        img {
            object-fit: contain;
            overflow: hidden;
        }
    }
}


.app-text-container {
    /* background-color: #22C55E; */
    max-width: 670px;

    display: flex;
    flex-direction: column;
    
    .description {
        display: flex;
        flex-direction: column;
        gap: .7rem;

        p {
            color: var(--lighter-font-color);
            line-height: 160%;
        }
    }
}

.app-text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 3.2em 0;
    gap: 2.5em;

    h5 {
        padding-bottom: .7rem;
    }
}

.card-text {
    padding: .05rem;
}

.app-feature-card {
    display: flex;
    justify-content: space-between;
    gap: 1.4em;
}

.card-text p {
    color: var(--primary-font-color);
    font-size: var(--medium-text);
}

/* FEATURES END */

/* SLIDER START */

#slider {
    background-color: var(--background-secondary);
    padding: 5rem 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    .image-container {
        display: flex;
        gap: 6rem;
        padding: 2.6rem 0;

        img {
            width: auto;
            height: 600px;
        }
    }

    h4 {
        text-align: center;
        padding-bottom: 1rem;
    }

    p {
        text-align: center;
        max-width: 650px;
        line-height: 160%;
        color: var(--primary-font-color);
    }
}

/* SLIDER END */

/* FEATURE BENIFITS START */

#feature-benefits {
    display: flex;

    h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
    }

    button {
        color: #ffffff;
        background-color: var(--brand-primary);
        font-size: .8rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;
        font-family: manrope;
        
        gap: 1em;
        width: 9rem;
        height: 2.5rem;
        padding: 1em .8em;
        margin-top: 2rem;

        border: none;
        border-radius: .4em;

        &&:hover {
            cursor: pointer;
        }
    }
}

.transfer-money {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem;
    margin: 0 5rem;
    
    .text-container {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
    }

    p {
        color: var(--special-font-color);
    }

    .image-container {
        max-width: 50%;
        height: 31rem;
    }

    .fact {
        display: flex;
        gap: .8rem;
        align-items: center;
        padding: .5rem 0;
    }
}

.recieve-payments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 5rem;

    .text-container {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    p {
        color: var(--primary-font-color);
    }

    .image-container {
        max-width: 50%;
        height: 31rem;
    }

    .fact-container {
        display: flex;
        gap: 2rem;
    }

    .fact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.7rem;
        gap: 1.3rem;
        width: 50%;

        img {
            height: 1.75rem;
            width: auto;
        }
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    height: 3.75rem;
    background-color: rgba(99, 101, 241, 0.08);
    border-radius: .5rem;
}

/* FEATURE BENIFITS END */


/* TESTIMONIALS START */

#testimonials {
    background-color: var(--background-secondary);
    padding-top: 5rem;
    padding-bottom: 6.8rem;


    h2 {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 130%;
    }
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
}

.reviews {
    display: flex;
    gap: 1.5rem;
}

.review {
    background-color: var(--panel-background);
    border-radius: .5rem;
    box-shadow: 0 4.4px 12px hsla(250, 36%, 10%, 0.12);
    padding: 1.5rem;
    padding-top: 3rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 26rem;
    height: 20.5rem;

    .review-text {
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--primary-font-color);
        padding-top: 1.5rem;
    }
}

.customers {
    display: flex;
    gap: 1rem;
    padding-top: 1.5rem;

    .name{
        font-size: 1rem;
        font-weight: 700;
        color: var(--header-color);
    }

    .title{
        font-size: 1rem;
        font-weight: 400;
        color: var(--lighter-font-color);
    }
}

.customer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quotation {
    background-color: var(--brand-primary);
    aspect-ratio: 1;
    width: 2.75rem;
    border-radius: 0.375rem;
    padding: .7rem;
    box-shadow: 0 8px 18px -8px #6365f1de;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: -1.7rem;
}

/* TESTIMONIALS END */

/* FAQ START */

#FAQ {
    .container {
        justify-content: space-between;
        padding: 6rem 1rem;
        gap: 8.375rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 130%;
        font-weight: 800;
    }

    p {
        color: var(--primary-font-color);
        line-height: 160%;
        font-weight: 400;
    }
}

.contact {
    display: flex;
    flex-direction: column;

    max-width: 26rem;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 2.5rem;
    color: var(--special-font-color);
}

.contact-selection {
    display: flex;
    gap: 1.5rem;
}

.contact-type {
    max-width: 12.25rem;

    border: .1rem solid var(--contact-border);
    border-radius: .5rem;
    padding: 1.5em;

    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        gap: .5rem;
        padding: .6875rem 0;
    }
}

.call {
    button {
        color: var(--brand-primary);
        cursor: pointer;
    }
}

.message {
    button {
        color: var(--brand-success);
        cursor: pointer;
    }
}

.accordions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    h3 {
        font-size: 1rem;
        line-height: 160%;
        font-weight: 600;
    }
    
    p {
        line-height: 160%;
        font-weight: 400;
        color: var(--primary-font-color);
    }
    
    .active {
        background-color: var(--brand-primary);
        box-shadow: 0 4.4px .75rem rgba(19, 16, 34, .06);
        box-shadow: 0 4.4px .5rem rgba(19, 16, 34, .1);
        
        img {
            transform: scaleY(-1);
            filter: brightness(100);
        }
    }
}

.panel {
    display: flex;
    flex-direction: column;
    max-width: 46.625rem;
    padding: 1rem 1.5rem;
    gap: 1rem;
    
    border-radius: .5rem;
    box-shadow: 0 4.4px 12px -1px #13102217;
    background-color: var(--panel-background);
}

.question {
    display: flex;
    justify-content: space-between;
}

.accordion-button {
        background-color: var(--faq-accordion);
        border-radius: 50%;
        border: none;
        height: 2.25rem;
        aspect-ratio: 1;


        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            cursor: pointer;
        }

        img {
            filter: var(--accordion-invert);
        }
}

/* FAQ END */

/* SUBSCRIBE AREA */

#newsletter {
    .container {
        display: flex;
        justify-content: space-between;
        background-color: var(--background-secondary);
        padding: 4rem 6rem;
        border-radius: .5rem;
        
    }
}

.subscribe-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32.875rem;
    gap: 2.25rem;

    h4 {
        text-wrap: balance; 
    }
}

 .subscribe-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
     
    width: 29.5rem;

    span {
        position: absolute;
        top: 4.5rem;
        left: -2rem;
        color: rgb(200, 18, 18);
        font-size: 1rem;
        font-weight: 300;
    }
}

.input-group {
    display: flex;
    display: flex;
    .form-input {
        border-radius: .5em 0 0 .5em;
    }
}

.form-input {
    border: 1px solid var(--newsletter-border-color);
    color: var(--form-text);
    padding: .4em 1em;
    width: 23rem;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    background-color: var(--form-background);
}

#submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.875rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--brand-primary);
    padding: 1rem 1.5rem ;
    border-radius: 0 .5em .5em 0;
    border: none;
    cursor: pointer;
}

/* FOOTER START */

footer {
    background-color: var(--background-color);
    height: 130px;

    display: flex;
    align-items: center;
    max-width: --var(max-width);

    p {
        color: var(--lighter-font-color);
    }
}   

/*CSS END*/